/* CSS de contatos.php */
/* CSS de contatos.php */

label {
    display: block;
    padding: 0 0 0.3rem 0.5rem;
    font-size: 0.9rem;
}

input, textarea, button {
    font-family: inherit;
    font-size: inherit;
    border: none;
    background: rgb(231, 231, 231);
    padding: 0.6rem 1rem;
    border-radius: 0.4rem;
}

input, textarea {
    width: 70%;

}

textarea {
    height: 6em;
    resize: vertical;
}

button {
    background: linear-gradient(rgb(0, 0, 0), rgb(99, 99, 99));
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(rgb(0, 0, 0), rgb(95, 94, 94));
}

button:disabled {
    background: linear-gradient(rgb(0, 0, 0), rgb(99, 99, 99));
    color: rgb(0, 0, 0);
    cursor: not-allowed;
}

input:invalid, textarea:invalid {
    background: rgb(221, 221, 221);
    
}

input:valid, textarea:valid {
    background: rgb(219, 219, 219);
    border: 1px solid rgb(87, 248, 87);
}

#contact:invalid button {
    pointer-events: none;
    background: linear-gradient(rgb(88, 88, 88), grey);
    color: rgb(219, 219, 219);
    cursor: not-allowed;
}

#siteName {
    font-weight: bold;
}

#feedback {
    display: none;
}

.center {
    text-align: center;
}

.small {
    font-size: small;
}

.red {
    color: red;
}